{% extends 'header.html' %}
{% block style %}
  {{ super() }}
  <style>
    #form-checkout {
      width: 100%;
      text-align: center;
    }
  </style>

<body>
  {% include 'navbar.html' %}
  <main class="credentials-grid">
    <div class="credentials">
      <form id="form-checkout" action="{{ url_for('charge', price=price) }}" method="POST">
        <article>
          <label>
            <span>Amount is ${{ price }}.00</span>
          </label>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{ key }}"
                data-description="A Flask Charge"
                data-amount="{{ price * 100 }}"
                data-locale="auto"></script>
      </form>
    </div>

  </main>

  {% with current_year=current_year %}
    {% include 'footer.html' %}
  {% endwith %}
</body>
{% endblock style %}
</html>